*
!Makefile
!docs/
!review.md
!.github/
!CODE_OF_CONDUCT.md
!README.md
!.gitignore
!imx708-driver/
!imx708-server/
!imx708-gui/
imx708-driver/*
!imx708-driver/CONTRIBUTING.md
!imx708-driver/CHANGELOG.md
!imx708-driver/review.md
imx708-server/*
!imx708-server/CONTRIBUTING.md
!imx708-server/CHANGELOG.md
!imx708-server/review.md
imx708-gui/*
!imx708-gui/CONTRIBUTING.md
!imx708-gui/CHANGELOG.md
!imx708-gui/review.md
